.button {
    width: fit-content;
    padding: 1.2rem 2.5rem;
    font-family: var(--font-sans);
    font-weight: 500;
    font-size: 1.4rem;
    border-radius: 12px;
    background-color: var(--color-accent);
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.button:hover {
    background-color: var(--color-accent-dark);
    transform: translateY(-2px);
}

.button:disabled {
    background-color: var(--color-accent-dark);
    transform: translateY(0);
    cursor: not-allowed;
}
