
.checkbox-group {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.checkbox-group .checkbox {
  width: 20px;
}

.checkbox-group label {
  width: auto;
  flex-shrink: 0;
  flex-grow: 0;
}
