.login-page {
    min-height: 100vh;
    width: 100%;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page .login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    min-width: 15rem;
}

.login-section .title {
    margin: 3rem auto;
    font-size: 3rem;
}

.login-section .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.login-button {
    margin-top: 2rem;
}

p.error-message {
    color: var(--color-error);
    font-size: 1.2rem;
    margin-top: 1rem;
}